.body{
    background-color: blueviolet !important;
}
    
    /* scrollbar */
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255, 255, 255, 0.3);
    }
    .itemBox{
        max-height: 230px;
        overflow-y:auto ;
        overflow-x: hidden;
        margin-bottom: 20px;
        
    }
    .itemsEffect{
      outline:1px solid #ddd;
      }
      .itemsEffect:hover{
          outline: 3px solid seagreen !important;
      }